<div class="show">
		<h2>BlahBlah Title</h2>

		<div class="box">
			<div class="trailer">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/5guMumPFBag" frameborder="0" allowfullscreen></iframe>
			</div>
		<div class="actors">
			<img src="http://ia.media-imdb.com/images/M/MV5BMjIyMjc0NTA2M15BMl5BanBnXkFtZTcwMTA4MzQ2OQ@@._V1_SY317_CR11,0,214,317_AL_.jpg">
			<div class="name">Jonny Lee Miller</div>
		</div>
		<div class="actors">
			<img src="http://cdn.playbuzz.com/cdn/653bfd7d-2484-4b89-816a-ab79a7e4e026/85fbb90b-ec88-48e2-992f-0c2f01013616.jpg">
			<div class="name">Angelina Jolie</div>
		</div>
		<div class="actors">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Matthew_Lillard_2012.jpg/755px-Matthew_Lillard_2012.jpg">
			<div class="name">Matthew Lillard</div>
		</div>
		<div class="actors">
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Matthew_Lillard_2012.jpg/755px-Matthew_Lillard_2012.jpg">
			<div class="name">Matthew Lillard</div>
		</div>
	</div>
</div>
